.hero {
    /* background-color: #23132B; */
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
    padding-top: 72px;
    position: relative;
    overflow: hidden;
    background-color: #060307;
    background: linear-gradient(to bottom,
                    #060307 7%,
                    #0e0811 10%,
                    #23132B 17%,
                    #23132B 92%,
                    #0e0811 98.5%,
                    #060307 100%);
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-content {
    width: 640px;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font: 700 84px / 1.1 "Epilogue", sans-serif;
    letter-spacing: -0.01em;
    color: var(--color-white);
    margin-bottom: 24px;
}

.hero-subtitle {
    font: 400 20px / 1.5 "IBM Plex Sans", sans-serif;
    color: var(--color-white);
    margin-bottom: 32px;
    opacity: 0.9;
}

.btn-explore {
    width: fit-content;
    padding: 10px 24px;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 206px;
    height: 47px;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    justify-content: center;
    text-align: center;
    transition: transform 0.5s ease;
}

.btn-explore:hover {
    transform: scale(1.05);
    opacity: 0.6;
    background-color: #764191;
}

.hero-image {
    -webkit-mask-image:
        linear-gradient(to bottom, transparent 0%, black 15%, black 70%, transparent 100%);
    mask-image:
        linear-gradient(to bottom, transparent 0%, black 15%, black 70%, transparent 100%);
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
}

.hero-image img {
  display: block;
  border-radius: inherit;
}


@media screen and (min-width: 768px) and (max-width: 1439px) {
    .hero {
        padding-top: 72px;
    }
    .hero-container {
        padding: 32px 32px 0 32px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;

    }
    .hero-content {
        max-width: 640px;
        width: 100%;
        max-width: none;
        margin-bottom: 32px;
    }
    
    .hero-title {
        font-family: 'Epilogue', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-bottom: 24px;
    }
        
    .hero-description {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #ffffff;
        margin-bottom: 32px;
    }
    .btn-explore {
         min-width: 246px;
    }

    .hero-image {
        width: 100%;
        display: block;
        mask-image: linear-gradient(to bottom, black 0%, black 75%, rgba(0, 0, 0, 0.3) 93%, transparent 100%);
    }
    
    .hero-image img {
        width: 100%;
        max-width: none;
        height: auto;
        border-radius: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
 .hero {
    height: auto;
    min-height: auto;
 }

 .hero-container {
    padding-top: 108px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
 }

 .hero-title {
    margin-top: 0;
    margin-bottom: 24px;
    max-width: 288px;
    font: 700 48px / 1.1 "Epilogue", sans-serif;
 }

 .hero-description {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
 }

 .hero-content {
    width: 100%;
    max-width: none;
    margin-bottom: 64px;
 }

 .hero-title,
 .hero-subtitle {
     max-width: 100%;
 }

 .hero-subtitle {
    font: 400 18px / 1.5 "IBM Plex Sans", sans-serif;
    margin-bottom: 24px;
 }

 .btn-explore {
    min-width: 288px;
    margin-bottom: 0;
 }

.hero-image {
    width: 100%;
    padding-top: 0;
    mask-image: linear-gradient(to bottom, black 0%, black 75%, rgba(0, 0, 0, 0.3) 93%, transparent 100%);
}

 .hero-image img {
    max-width: 280px;
    height: 385px;
    border-radius: inherit;
    padding-top: 64px;
    width: 100%;
    max-width: none;
    height: auto;
    margin-top: 0;
    border-radius: 0;
 }
 .hero-container {
    flex-direction: column;
    align-items: stretch;
 }
}