.hero {
    /* background-color: #23132B; */
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;

    position: relative;
    overflow: hidden;
    
    background-color: #060307;
    
        background: linear-gradient(to bottom,
                    #060307 0%,
                    #0e0811 1%,
                    /* Промежуточный темный оттенок */
                    #23132B 8%,
                    /* Мягкий вход в основной цвет */
                    #23132B 92%,
                    /* Основная зона фиолетового */
                    #0e0811 98.5%,
                    /* Промежуточный оттенок перед черным */
                    #060307 100%);
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero-content {
    width: 640px;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font: 700 84px / 1.1 "Epilogue", sans-serif;
    letter-spacing: -0.01em;
    color: var(--color-white);
    margin-bottom: 24px;
}

.hero-subtitle {
    font: 400 20px / 1.5 "IBM Plex Sans", sans-serif;
    color: var(--color-white);
    margin-bottom: 32px;
    opacity: 0.9;
}

.btn-explore {
    width: fit-content;
    padding: 10px 24px;
    color: white;
    border: none;
    border-radius: 12px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 206px;
    height: 47px;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    justify-content: center;
    text-align: center;
}

.btn-explore:hover {
    transform: scale(1.05);
}

.hero-image {
    display: inline-block;
    position: relative;
    -webkit-mask-image:
        linear-gradient(to bottom, transparent 0%, black 15%, black 70%, transparent 100%);
    mask-image:
        linear-gradient(to bottom, transparent 0%, black 15%, black 70%, transparent 100%);
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
}

.hero-image img {
  display: block;
  width: 641px; 
  border-radius: inherit;
}


@media screen and (max-width: 768px) {
        .hero {
            color: #ffffff;
            display: flex;
            justify-content: center;
            font-family: 'Inter', sans-serif;
        }
        .hero-container {
            flex-wrap: wrap;
            gap: 32px;
            padding-top: 32px;
        }
        .hero-content {
            min-width: 624px;
            text-align: left;
        }
    
        .hero-title {
            font-family: 'Epilogue', sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 1.1;
            letter-spacing: -0.01em;
            color: #ffffff;
            margin-bottom: 24px;
        }
        
        .hero-description {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.5;
            color: #ffffff;
            margin-bottom: 32px;
        }
        .btn-explore {
            min-width: 246px;
        }
        .hero-image {
            order: 2;
            position: relative;
            display: inline-block;
            -webkit-mask-image: linear-gradient(to bottom,
                        black 0%,
                        /* Верх картинки полностью виден */
                        black 75%,
                        /* Картинка остается четкой до 75% высоты */
                        rgba(0, 0, 0, 0.7) 85%,
                        /* Первое легкое растворение */
                        rgba(0, 0, 0, 0.3) 93%,
                        /* Становится почти прозрачной */
                        transparent 100%
                        /* Полное исчезновение в самом низу */
                    );
                mask-image: linear-gradient(to bottom,
                        black 0%,
                        black 75%,
                        rgba(0, 0, 0, 0.7) 85%,
                        rgba(0, 0, 0, 0.3) 93%,
                        transparent 100%);
                -webkit-mask-composite: source-in;
                mask-composite: intersect;
        }
        .hero-image img {
            border-top-right-radius: 18px;
        }
    }
@media screen and (max-width: 320px) {
    .hero-title {
        font-family: 'Epilogue', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.1;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-bottom: 20px;
        max-width: 288px;
    }

    .hero-description {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #ffffff;
    }

    .hero-content {
      max-width: 288px;
    }

    .hero-subtitle {
       font: 400 18px / 1.5 "IBM Plex Sans", sans-serif;
       margin-bottom: 24px;
       max-width: 288px;
    }

    .btn-explore {
        min-width: 288px;
    }
    .hero-image img {
        width: 280px;
        height: 385px;
    }
    .hero-container {
        flex-direction: column;
        align-items: stretch;
    }
    
    .hero-content {
        order: 1;
        margin-bottom: 64px;
        }
    
    .hero-image {
        order: 2;
    }
    .hero-image img {
        border-radius: inherit;
    }
}