<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./artists.css">

    <title>Document</title>
</head>
<body>
   <section class="artists">
    <div class="artists__container">
        <h2 class="artists__title">Artists</h2>
        <p class="artists__subtitle">Explore Your New Favorite Artists</p>
       <div class="artists__list">
        <div class="artist-card">
        <div class="artist-card__image">
            <img src="../../img/ren.png" alt="Ren" />
        </div>

    <div class="artist-card__content">
        <div class="artist-card__genres">
            <span class="artist-card__genre">Alternative</span>
            <span class="artist-card__genre">Pop</span>
            <span class="artist-card__genre">Rock</span>
            <span class="artist-card__genre">Indie</span>
        </div>
        <h3 class="artist-card__name">Ren</h3>
    
        <p class="artist-card__description">
            Ren Eryn Gill, known professionally as Ren, is a multi-award-winning Welsh singer-songwriter...
        </p>
    
        <button class="artist-card__link">Learn More</button>
    </div>
        
    </div>
    </div>
       </div>
   </section> 
</body>
</html>