<section id="artists" class="artists">
    <div class="artists__container">
        <div class="artists__heading">
        <h2 class="artists__title">Artists</h2>
        <p class="artists__subtitle">Explore Your New Favorite Artists</p>
    </div>
       <!-- <div class="artists__list">
        <div class="artist-card">
        <div class="artist-card__image">
            <img src="../../img/ren.png" alt="Ren" />
        </div>

    <div class="artist-card__content">
        <div class="artist-card__genres">
            <span class="artist-card__genre">Alternative</span>
            <span class="artist-card__genre">Pop</span>
            <span class="artist-card__genre">Rock</span>
            <span class="artist-card__genre">Indie</span>
        </div>
        <h3 class="artist-card__name">Ren</h3>
    
        <p class="artist-card__description">
            Ren Eryn Gill, known professionally as Ren, is a multi-award-winning Welsh singer-songwriter...
        </p>
    
        <button class="artist-card__link">Learn More<svg class="artist-card__icon" width="8" height="14" viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true">
            <path d="M0 14L8 7L0 0V14Z" fill="currentColor" />
        </svg></button>
    </div>
        
    </div>
    </div>
       </div> -->
    <div class="artists__list" id="artists-list"></div>
    <div class="artists__load-more-wrapper">
        <button id="load-more" class="artists__load-more">
            <span>Load more</span>
            <svg class="artists__load-more-icon" width="14" height="14" viewBox="0 0 14 14" fill="none"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M13.414 6.707L12 5.293L7.707 9.586V0H5.707V9.586L1.414 5.293L0 6.707L6.707 13.414L13.414 6.707Z"
                    fill="currentColor" />
            </svg>
        </button>
    </div>


    </div>
</section> 