/* ========== SECTION ========== */

.artists__container {
    padding: 64px 16px;
    max-width: 1440px;
    margin: 0 auto;
}

.artists__heading {
    margin-bottom: 32px;
}

.artists__title {
    margin: 0 0 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}

.artists__subtitle {
    margin: 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 1,2;
    color: #fff;
}

/* ========== LIST ========== */

.artists__list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ========== CARD ========== */

.artist-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0b0b0b 0%, #000 100%);
    padding: 12px;
}

.artist-card__image {
    width: 100%;
    height: 177px;
    overflow: hidden;
    border-radius: 16px;
}

.artist-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.artist-card__content {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.artist-card__genres {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.artist-card__genre {
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.8);
}

.artist-card__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #fff;
}

.artist-card__description {
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 12px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.artist-card__link {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* ========== TABLET (768px) ========== */


@media (min-width: 768px) {
    .artists__container {
        padding: 80px 32px;
    }

    .artists__subtitle {
        font-size: 44px;
        max-width: 520px;
    }

    .artists__list {
        grid-template-columns: repeat(2, 1fr);
    }

    
.artist-card__image {
    height: 280px;
 }
}

/* ========== DESKTOP (1440px) ========== */

@media (min-width: 1440px) {
    .artists__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 112px 64px;
    }

    .artists__subtitle {
        font-size: 60px;
        max-width: 640px;
    }

    .artists__list {
         margin-top: 48px;
        max-width: 100%;
    }
.artist-card__image {
    height: 393px;
}

    .artist-card__name {
        font-size: 32px;
    }
}


/* ===== LOAD MORE ===== */

.artists__load-more-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.artists__load-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 100%;
    height: 47px;
    padding: 10px 24px;

    background: #764191;
   
    color: #fff;

    border: none;
    border-radius: 12px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    cursor: pointer;
}

/* tablet+ */
@media (min-width: 768px) {
    .artists__load-more {
        width: auto;
        min-width: 170px;
    }
}

.artists__load-more-icon {
    display: block;
}