.artists {
    background: #000;
}
.artists__container {
    max-width: 1440px;
    padding: 112px 64px;
    margin: 0 auto;
}
.artists__heading {
margin-bottom: 48px;
}
.artists__title {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}
.artists__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    max-width: 640px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.artists__list {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.artist-card__image {
    height: 393px;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
}
.artist-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artist-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0b0b0b 0%, #000 100%);
    overflow: hidden;
}
.artist-card__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 8px;
    color: #FFFFFF;
}
    .artist-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;
}
.artist-card__genres {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.artist-card__genre {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.8);
}
.artist-card__description {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #bdbdbd;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.artist-card__link {
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
    gap: 8px;

    background: none;
    border: none;
    padding: 0;
    margin-top: auto;
    font: inherit;
    color: #FFFFFF;
    cursor: pointer;
}
.artist-card__icon {
    display: inline-block;
    vertical-align: middle;
}