<section class="header">
  <nav class="header-navigation">
    <a class="header-logo" href="./index.html" aria-label="ArtistsHub home">
      <svg class="header-logo-icon" width="119" aria-hidden="true">
        <use class="header-logo-use"></use>
      </svg>
    </a>

    <ul class="header-navigation-list">
      <li class="header-navigation-item">
        <a href="#artists" class="header-navigation-link">Artists</a>
      </li>

      <li class="header-navigation-item">
        <a href="#about" class="header-navigation-link">About us</a>
      </li>
      <li class="header-navigation-item">
        <a href="#reviews" class="header-navigation-link">Reviews</a>
      </li>
    </ul>

    <!-- бургер -->
    <a class="burger" href="#" aria-label="Open menu" aria-expanded="false">
      <svg class="burger-icon" aria-hidden="true">
        <use class="burger-use"></use>
      </svg>
    </a>

  </nav>

  <div class="mobile-menu">
  <a class="header-logo" href="./index.html" aria-label="ArtistsHub home">
    <svg class="header-logo-icon" width="119" height="51" aria-hidden="true">
      <use class="header-logo-use"></use>
    </svg>
  </a>

    <a class="mobile-close" href="#" aria-label="Close menu">
      <svg class="icon-x" width="24" height="24" aria-hidden="true">
        <use class="mobile-close-use"></use>
      </svg>
    </a>
</div>

<div class="mobile-navigation">
  <ul class="mobile-navigation-list">
    <li class="mobile-navigation-item"><a href="#artists" class="mobile-navigation-link">Artists</a></li>
    <li class="mobile-navigation-item"><a href="#about" class="mobile-navigation-link">About us</a></li>
    <li class="mobile-navigation-item"><a href="#reviews" class="mobile-navigation-link">Reviews</a></li>
  </ul>
</div>



</section>
