<section class="feedback section">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>

  <div class="feedback__wrapper">
    <!-- Arrow left -->
    <button class="feedback-arrow feedback-arrow--prev" aria-label="Previous feedback">
      <svg class="icon"><use href="/img/feedback/icon-arrow-left.svg"></use></svg>
    </button>

    <!-- Swiper -->
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper">
        <!-- JS 10 feedback -->
      </div>
    </div>

    <!-- Arrow right -->
    <button class="feedback-arrow feedback-arrow--next" aria-label="Next feedback">
      <svg class="icon"><use href="/img/feedback/icon-arrow-right.svg"></use></svg>
    </button>
  </div>

  <!-- Custom pagination -->
  <div class="feedback-pagination">
    <span class="dot dot--start"></span>
    <span class="dot dot--middle"></span>
    <span class="dot dot--end"></span>
  </div>
</section>
