.footer-section {
  padding: 48px 0;
}

@media (min-width: 768px) {
  .footer-section {
    padding: 80px 0;
  }
}

@media (min-width: 1440px) {
  .footer-section {
    padding: 80px 0;
  }
}

@media (min-width: 768px) {
  .footer-container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    padding: 0 64px;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.footer-logo {
  color: #764191;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer-logo-icon {
  display: block;
  width: 116px;
  height: 45px;
  fill: currentColor;
}

.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-nav-link {
  margin: 0;
  color: var(--text);
  transition: color 250ms ease;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #764191;
  opacity: 1;
}

@media (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
    gap: 48px;
  }
}

/* DIVIDER */

.footer-divider {
  margin: 32px 0;
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.12);
}

@media (min-width: 1440px) {
  .footer-divider {
    margin: 40px 0;
  }
}

/* ===== BOTTOM ===== */

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer-text {
  margin: 0;
  order: 2;
  color: #ffffff;
  opacity: 0.85;
  text-align: center;
}

.socials {
  order: 1;
}

.socials-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;

  --color1: var(--text);

  transition: transform 250ms ease;
}

.socials-link:hover,
.socials-link:focus {
  transform: translateY(-2px);
  color: #764191;
}

.socials-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-copy {
    order: 1;
    text-align: left;
  }

  .socials {
    order: 2;
  }

  .socials-list {
    justify-content: flex-end;
    gap: 24px;
  }

  .socials-link {
    width: 24px;
    height: 24px;
  }

  .socials-icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .socials {
    order: 2;
  }

  .socials-list {
    justify-content: flex-start;
  }

  .footer-copy {
    order: 1;
    text-align: right;
  }
}
